In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!
df=pd.read_csv('Resources/lending_data.csv')

# Review the DataFrame
# YOUR CODE HERE!
df.head(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700,7.672,52800,0.431818,5,1,22800,0
1,8400,6.692,43600,0.311927,3,0,13600,0
2,9000,6.963,46100,0.349241,3,0,16100,0
3,10700,7.664,52700,0.430740,5,1,22700,0
4,10800,7.698,53000,0.433962,5,1,23000,0
5,10100,7.438,50600,0.407115,4,1,20600,0
6,10300,7.490,51100,0.412916,4,1,21100,0
7,8800,6.857,45100,0.334812,3,0,15100,0
8,9300,7.096,47400,0.367089,3,0,17400,0
9,9700,7.248,48800,0.385246,4,0,18800,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels
# YOUR CODE HERE!]
y=df['loan_status']
# Separate the X variable, the features
# YOUR CODE HERE!
X=df.drop(columns=['loan_status'])

In [4]:
# Review the y variable Series
# YOUR CODE HERE!
y.head()

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [5]:
# Review the X variable DataFrame
# YOUR CODE HERE!
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700,7.672,52800,0.431818,5,1,22800
1,8400,6.692,43600,0.311927,3,0,13600
2,9000,6.963,46100,0.349241,3,0,16100
3,10700,7.664,52700,0.430740,5,1,22700
4,10800,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
# Check the balance of our target values
# YOUR CODE HERE!
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [9]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1,stratify=y)
# Split the data using train_test_split
# Assign a random_state of 1 to the function
# YOUR CODE HERE!

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [11]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
model=LogisticRegression(solver='lbfgs',random_state=1)

# Fit the model using training data
# YOUR CODE HERE!
model.fit(X_train,y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [12]:
# Make a prediction using the testing data
# YOUR CODE HERE!
predictions=model.predict(X_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [15]:
df_prediction=pd.DataFrame({'prediction':predictions,'Actual':y_test})
df_prediction.head(5)

       prediction  Actual
36831           0       0
75818           0       1
36563           0       0
13237           0       0
43292           0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [17]:
# Print the balanced_accuracy score of the model
# YOUR CODE HERE!
print(f"Trainning_score: {model.score(X_train,y_train)}\n")
print(f"Testing_score: {model.score(X_test,y_test)}\n")
print(f"balanced_accuracy_score:{balanced_accuracy_score(y_test,predictions)}")

Trainning_score: 0.9914878250103177

Testing_score: 0.9924164259182832

balanced_accuracy_score:0.9442676901753825

In [18]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
confusion_matrix(y_test,predictions)

array([[18679,    80],
       [   67,   558]], dtype=int64)

In [19]:
# Print the classification report for the model
# YOUR CODE HERE!
target=["health","risky"]
print(classification_report(y_test,predictions,target_names=target))

              precision    recall  f1-score   support

      health       1.00      1.00      1.00     18759
       risky       0.87      0.89      0.88       625

    accuracy                           0.99     19384
   macro avg       0.94      0.94      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** WRITE YOUR ANSWER HERE!

focus on high precision contribute to loss of potential client; over focus on recall will lead to risking defualt.
The accuracy of the model done quite well at 99% on given data. More row data and increase demensionality may imporve the result.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [21]:
!pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.10.1-py3-none-any.whl (226 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anacoda\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: scikit-learn>=1.0.2 in d:\anacoda\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in d:\anacoda\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in d:\anacoda\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Installing collected packages: joblib, imbalanced-learn, imblearn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed imbalanced-learn-0.10.1 imblearn-0.0 joblib-1.2.0

In [22]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
frame=RandomOverSampler(random_state=1)
# Fit the original training data to the random_oversampler model
# YOUR CODE HERE!
X_resampled,y_resampled=frame.fit_resample(X_train,y_train)

In [24]:
# Count the distinct values of the resampled labels data
# YOUR CODE HERE!
y_resampled.value_counts()

0    56277
1    56277
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [27]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
model_resample=LogisticRegression(solver='lbfgs',random_state=1)

# Fit the model using the resampled training data
# YOUR CODE HERE!
model_resample.fit(X_resampled,y_resampled)
# Make a prediction using the testing data
# YOUR CODE HERE!
prediction2=model_resample.predict(X_test)
pd.DataFrame({'Prediction':prediction2,'Acutal':y_test}).head(10)

       Prediction  Acutal
36831           0       0
75818           1       1
36563           0       0
13237           0       0
43292           0       0
68423           0       0
37714           0       0
64870           0       0
47959           0       0
49              0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [28]:
# Print the balanced_accuracy score of the model 
# YOUR CODE HERE!
print(f"Trainning_score: {model_resample.score(X_train,y_train)}\n")
print(f"Testing_score: {model_resample.score(X_test,y_test)}\n")
print(f"balanced_accuracy_score:{balanced_accuracy_score(y_test,prediction2)}")

Trainning_score: 0.9941016646031091

Testing_score: 0.9952022286421791

balanced_accuracy_score:0.9959744975744975

In [29]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
confusion_matrix(y_test,prediction2)

array([[18668,    91],
       [    2,   623]], dtype=int64)

In [30]:
# Print the classification report for the model
# YOUR CODE HERE!
target=['healthy','risky']
print(classification_report(y_test, prediction2,target_names=target))

              precision    recall  f1-score   support

     healthy       1.00      1.00      1.00     18759
       risky       0.87      1.00      0.93       625

    accuracy                           1.00     19384
   macro avg       0.94      1.00      0.96     19384
weighted avg       1.00      1.00      1.00     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** YOUR ANSWER HERE!

Overall performace improved with the new method. Note balanced accuracy increased to 0.995 and model accuracy of 100%.
To evaluate overall performance, we have to bring in the usecase in real life.
If bank intend to tighen lending standard( de-risk enviroment) focus on detecting high risk loan may make more sense.
If the sky is blue, economy goes well, focus on accuracy or focus on detecting the healthy loan may make more sense.